/* Style classes for the list table */
table.listTable {
    width: 99%;
    table-layout: fixed;
}

div.listTableContent {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
}

*html div.listTableContent {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    overflow-y: hidden;
    padding-bottom: 1.5em;
}

.dataTable {
    width: 99.9%;
    border-left: 1px solid #D2C9C4;
    border-top: 1px solid #D2C9C4;
    border-collapse: separate;
}

*html .dataTable {
    border-collapse: collapse;
}

.dataTable caption {
    padding-bottom: 0.6em;
    text-align: left;
    font-weight: bold;
}

.dataTable thead th {
    background: #fff url( ../images/th.bg.gif ) 0 100% repeat-x;
    border-bottom: 1px solid #D2C9C4;
    border-right: 1px solid #D2C9C4;
    padding: 6px;
    text-align: left;
    white-space: normal;
}

.dataTable tbody td {
    border-bottom: 1px solid #D2C9C4;
    border-right: 1px solid #D2C9C4;
    padding: 0.4em;
}

.dataTable td.columnIcon {
    width: 1.5em;
}

.dataTable input {
    border: 0 none;
    border-style: none;
    margin: 0;
    padding: 0;
}

/* Style for the paging labels */
table td.pagingContent {
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
