img {
    border: 0;
}

input {
    border: 1px solid #C3BBB6;
    background: #fff url( ../images/input.bg.gif ) 0 0 repeat-x;
    font-size: 100%;
}

textarea {
    border: 1px solid #C3BBB6;
    background: #fff url( ../images/input.bg.gif ) 0 0 repeat-x;
}

select {
    border: 1px solid #C3BBB6;
    background: #fff url( ../images/input.bg.gif ) 0 0 repeat-x;
    width: 14em;
    font-size: 100%;
}

ol, ul {
    margin: 10px 0 10px 6px;
}

li {
    margin: 10px 0.5em;
}

fieldset {
    border: 0;
}

h1 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.6em;
}

/* General */
.button {
    color: #fff;
    border: 1px solid #5D1414;
    background: #fff url( ../images/hdr.bg.gif ) 0 0 repeat-x;
    border-style: none;
    margin: 1em 1em 1em 0;
    padding: 0.1em;
    width: auto;
    font-size: 100%;
}

.buttonImage {
    border: 0 none;
    border-style: none;
    margin: 0;
    padding: 0;
}

.clickable {
    cursor: pointer;
}

.radio {
    border: 0 none;
    border-style: none;
    margin: 0.4em 0.2em 0;
}

.radio label {
    float: none;
    font-weight: normal;
}

.radio input {
    border: 0 none;
    border-style: none;
    margin: 0.4em 0.2em 0;
}

.checkbox {
    border: 0 none;
    border-style: none;
}

.checkbox label {
    float: none;
    font-weight: normal;
}

.checkbox input {
    border: 0 none;
    border-style: none;
}

/* Header */
#headerTitle {
    float: left;
    padding: 14px 10px 10px;
    font-weight: bold;
}

#headerStatus {
    color: #C7B299;
    float: right;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-small;
    text-align: right;
    padding-top: 14px;
    padding-right: 15px;
}

#headerStatus a {
    color: #C7B299;
    text-decoration: none;
}

/* Sidebar */

.buttonBox {
    text-align: center;
    padding: 5px 0;
    clear: both;
}

#sidebar li {
    font-size: small;
    color: #8B7869;
}

/* Content */
#contentTitle {
    padding: 1em;
    vertical-align: middle;
}

#contentBody {
    padding: 1em;
}

.contentButtons {
    padding: 0;
}

.detailTable td {
    padding: 0.7em 0.3em;
    vertical-align: middle;
    white-space: nowrap;
}

.innerDetailTable {
    width: 100%;
}

.innerDetailTable td {
    padding: 0.5em 0;
    vertical-align: middle;
    white-space: nowrap;
}

.loginTable {
}

.loginTable td {
    padding: 0.3em 1em;
}

.questionDefinitionPanel {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #D2C9C4;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    height: 300px;
    padding: 1em;
    margin: 0.3em;
}

.expanded {
    height: 100%;
}

.questionDefinitionButtons {
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}
